*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    font-family: 'raleway';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0);

}
.wrapper h1{
  font-size: 3em;
  margin: 25px 0;
  text-align: center;
  font-weight: 500;
  color: #858336;
}
.wrapper p{
    color: #000000;
    font-size: 29;
    font-weight: bold;
}
.content-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1000px;
    margin-top: 30px;
}
.card{
    min-height: 220px;
    width: 320px;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    margin: 10px 4px;
    box-shadow: 0px 15px 28px rgba(120, 122, 61, 0.801);
    color: #7d7b36;
    transition: 0.3s;
}
.card i{
    margin: 20px;
    color: #52502e;
}
.card h2{
    margin-bottom: 12px;
    font-weight: 400;
    text-align: center;
}
.card p{
    text-align: center;
}
.card:hover i,
.card:hover p{
    color: #fff;
}
.card:hover h2{
    font-weight: 600;
    color: #31301b;
}
.card:nth-child(1):hover{
    background: linear-gradient(45deg,
                                     rgba(126, 133, 64, 0.8) 0%,
                                     rgba(119, 115, 53, 0.8) 100%),
                                     url('Img1.PNG');
    background-size: cover;                                 
}
.card:nth-child(2):hover{
    background: linear-gradient(45deg,
                                     rgba(126, 133, 64, 0.8) 0%,
                                     rgba(119, 115, 53, 0.8) 100%),
                                     url('Img1.PNG');
    background-size: cover;                                 
}
.card:nth-child(3):hover{
    background: linear-gradient(45deg,
                                     rgba(126, 133, 64, 0.8) 0%,
                                     rgba(119, 115, 53, 0.8) 100%),
                                     url('Img1.PNG');
    background-size: cover;                                 
}
.card:nth-child(4):hover{
    background: linear-gradient(45deg,
                                     rgba(126, 133, 64, 0.8) 0%,
                                     rgba(119, 115, 53, 0.8) 100%),
                                     url('Img1.PNG');
    background-size: cover;                                 
}
.card:nth-child(5):hover{
    background: linear-gradient(45deg,
                                     rgba(126, 133, 64, 0.8) 0%,
                                     rgba(119, 115, 53, 0.8) 100%),
                                     url('Img1.PNG');
    background-size: cover;                                 
}
.card:nth-child(6):hover{
    background: linear-gradient(45deg,
                                     rgba(126, 133, 64, 0.8) 0%,
                                     rgba(119, 115, 53, 0.8) 100%),
                                     url('Img1.PNG');
    background-size: cover;                                 
}

@media(max-width: 991px)
{
    .wrapper{
        padding: 25px;
    }
    .wrapper h1{
        font-size: 2.5em;
        font-weight: 600;
    }
    .content-box{
        flex-direction: column;
        width: 100%;
    }
    .card{
        min-width: 300px;
        margin: 10px auto;
    }



}
























